.todo-input {
  text-align: center;
  align-content: center;
}

.todo-form {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: Montserrat, serif;
  color: #2C3E50;
  font-size: 13px;

  &:hover {
    border-color: #3d7ec0;
  }
}

.btn{
  margin-top: 0.4rem;
  border-radius: 4px;
  line-height: 2.4rem;
  width: 50%;
  border: none;
  background: #4949e4;
  box-shadow: 0 1px 3px rgba(33, 33, 69, 0.06), 0 1px 2px rgba(33, 33, 69, 0.12);
  color: #fff;
  font-weight: 600;
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;

  &:hover{
    background: lighten(#4949e4, 2%);
    box-shadow: 0 0 0 1px #707070;
  }
  &:focus{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ae2732;
  }

  &:disabled{
    margin-top: 0.4rem;
    border-radius: 4px;
    line-height: 2.4rem;
    width: 50%;
    border: none;
    background: #717172;
    box-shadow: 0 1px 3px rgba(33, 33, 69, 0.06), 0 1px 2px rgba(33, 33, 69, 0.12);
    color: #fff;
    font-weight: 600;
    transition: background-color 0.1s ease-in-out;
  }
}
