.todo-input {
  text-align: center;
  align-content: center;
}

.todo-form {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: Montserrat, serif;
  color: #2C3E50;
  font-size: 13px;

  &:hover {
    border-color: #3d7ec0;
  }
}

.btn{
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;

  &:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
  }
  &:focus{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ae2732;
    cursor: pointer;
  }
}
