@import 'header';
@import 'input';
@import "item";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

.todo-app {
  width: 450px;
  padding: 20px 30px;
  margin: 20px auto;
  background-color: #f5f7fa;
  border: 5px solid #7a57d1;
}

.top-panel {
  margin: 1rem 0;
}

body {
  margin: 0;
  font-family: Montserrat, serif, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #777777;
}
